<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Le mie ripetizioni</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Giuseppe Terribilio">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->

  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/lemieripetizioni.css">
  <link rel="stylesheet" href="styles/animations.css">
  <link rel="stylesheet" href="styles/jquery-ui.css">
  <!-- endbuild -->
</head>
<body ng-app="lemieripetizioni3App" data-spy="scroll" data-target=".navbar-fixed-top .intro" id="page-top">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- Add your site or application content here -->
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="logo_description" style="float:left;"><a class="navbar-brand page-scroll" 
              href="#page-top">Le mie ripetizioni</a></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
               <li class="hidden">
                <a href="#page-top" class="page-scroll"></a>
              </li>
              <li ng-hide="isLogged"><a class="page-scroll" ng-click="showLogin=true;" href="#login">Login</a></li>
              <li ng-show="isLogged"><a class="page-scroll" ng-click="showLeMieRipetizioni=true;doLeMieRipetizioni();" href="#lemieripetizioni">Le mie ripetizioni</a></li>
              <li><a class="page-scroll" href="#area_prof">Area Prof</a></li>
              <li><a class="page-scroll" href="#chi_siamo">Chi siamo</a></li> <!--  class="active"></-->
              <li><a class="page-scroll" href="#contatti">Contatti</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>

      <header id="intro" class="intro">
        <div class="intro-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading title">Le Mie Ripetizioni</h1>
                <p class="subtitle">Trovare una ripetizione non è mai stato così facile.<br/><br/>
                  Cerca subito la ripetizione più vicina a te!</p>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="view-container">
          <ng-view class="view-frame"></ng-view>
        </div>

        <section id="area_prof" class="content_section" style="text-align:center">     
          <h2>Area Prof</h2>
          <img src="images/logo.png" alt="logo"><br>
          <p>Contattaci subito!!<br/>Non aspettare!</p>
          Via Roma 1 - Torino
        </section>
        <section id="chi_siamo" class="content_section" style="text-align:center">     
          <h2>Chi siamo</h2>
          <img src="images/logo.png" alt="logo"><br>
          <p>Contattaci subito!!<br/>Non aspettare!</p>
          Via Roma 1 - Torino
        </section>
        <section id="contatti" class="content_section" style="text-align:center">     
          <h2>Contatti</h2>
          <img src="images/logo.png" alt="logo"><br>
          <p>Contattaci subito!!<br/>Non aspettare!</p>
          Via Roma 1 - Torino
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
       </script>

       <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="scripts/angular-datepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="scripts/controllers/services.js"></script>
    <script src="scripts/controllers/ricerca_ripetizioni.js"></script>
    <script src="scripts/controllers/dett_ripetizioni.js"></script> 
    <script src="scripts/animations.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>


    <!-- scripts javascript e jquery frontend-->
    <script src="scripts/lemieripetizioni.js"></script> 

    <!-- Plugin JavaScript -->
    <script src="scripts/jquery.easing.min.js"></script>
    <!-- endbuild -->
  </body>
  </html>
