<section id="dettaglio_prenotazione">
    <div class="panel panel-primary"> 
        <div class="panel-heading">
            <h3 class="panel-title">Dettaglio Prenotazione</h3>
        </div>
        <div class="panel-body">

            <div style="float:left;">
                <img src="images/logo.png">
            </div>
            <div style="float:left;">
                <p>DOCENTE: {{ripetizione.NOME_PROF}} {{ripetizione.COGN_PROF}}</p>
                <p>PROFESSIONE: {{ripetizione.PROFESSIONE}}</p>
                <p>QUANDO: {{ripetizione.DATA | date:"dd/MM/yyyy"}}</p>
                <p>DALLE: {{ripetizione.ORA_INIZIO}} ALLE: {{ripetizione.ORA_FINE}}</p>
                <p>MATERIA: {{ripetizione.D_MAT}}</p>
                <p>CITTA': {{ripetizione.LUOGO}}</p>
                <p>INDIRIZZO: {{ripetizione.INDIRIZZO}}</p>
            </div>
            <div class="text-center" style="clear:both;">
                <a class="btn btn-lg btn-danger" ng-click='annullaRipetizione();'>Annulla <span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>
    </section>