<section id="lemieripetizioni" ng-show="isLogged ">
	<a type="button" class="close" href="#" onclick="window.history.back();return false;">
		<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
		<span class="sr-only">Close</span>
	</a>
	<div style="clear:both;"/>
	<div id="ripetizioniPrenotate_list" class="col-md-8 col-md-offset-2">
		<div ng-if="ripetizioniPrenotate.length !=0">						
			<ul class="ripetizioni">
				<li ng-repeat="ripetizione in ripetizioniPrenotate" class="thumbnail ripetizioni-listing">
					<a href="" class="thumb"><img src="images/logo.png"></a>
					<p>DOCENTE: <a ng-href="#/prenotazione/{{ripetizione.ID_RIPETIZIONE}}">{{ripetizione.COGN_PROF}} {{ripetizione.NOME_PROF}}</a></p>
					<p>QUANDO: {{ripetizione.DATA}}</p>
					<p>DALLE: {{ripetizione.ORA_INIZIO}} ALLE: {{ripetizione.ORA_FINE}}</p>
				</li>
			</ul>
		</div>

		<div ng-if="ripetizioniPrenotate.length == 0" class="text-center">
			<p>Al momento non hai ripetizioni prenotate, cosa aspetti? Inizia subito!</p>
		</div>
	</div>
</section>