<section id="ricerca_ripetizione" ng-show="isLogged && showRicercaRipetizioni" style="height:100vh;"><!--devo settare mannualmente l'altezza di questo div in quanto lo script non lo vede-->
	<form class="form-horizontal" role="form" novalidate>
		<button type="button" class="close" ng-click="$parent.showRicercaRipetizioni=false;"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span><span class="sr-only">Close</span></button>
		{{msg}} da vedere validazione su angular form

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h3>Che giorno hai tempo?</h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="datada" class="col-sm-2 hidden-xs control-label">Dal: </label>
				<div class="col-sm-3 col-xs-5 col-xs-offset-1 col-md-offset-0">
					<input type="text" datepicker="" ng-model="datada"  class="form-control" placeholder="dal giorno">
				</div>
				<label for="dataa" class="col-sm-2 hidden-xs control-label">Al: </label>
				<div class="col-sm-3 col-xs-5">
					<input type="text" datepicker="" ng-model="dataa" class="form-control" placeholder="al giorno">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h3>In che orario?</h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="orada" class="col-sm-2 hidden-xs control-label">Dalle: </label>
				<div class="col-sm-3 col-xs-5 col-xs-offset-1 col-md-offset-0">
					<input type="time" ng-model="orada" class="form-control" placeholder="dall'ora">
				</div>
				<label for="oraa" class="col-sm-2 hidden-xs control-label">Alle: </label>
				<div class="col-sm-3 col-xs-5">
					<input type="time" ng-model="oraa" class="form-control" placeholder="all'ora">
				</div>
			</div>
		</div>          
		<div class="row">
			<div class="form-group" style="margin-top:20px;">			
				<button class="btn btn-lg btn-primary col-xs-4 col-xs-offset-4 col-md-3 col-md-offset-3" ng-click="doReset();">
					Pulisci</button>
					<button class="btn btn-lg btn-primary col-xs-4 col-xs-offset-4 col-md-3 col-md-offset-1" autofocus ng-click="doRicerca();">Ricerca</button>
				</div>	
			</div>  		
		</form>


		<div id="ripetizioni_list" class="col-md-8 col-md-offset-2" style="margin-top:60px;">
			<div ng-if="ripetizioni.length !=0">						
				<ul class="ripetizioni">
					<li ng-repeat="ripetizione in ripetizioni" class="thumbnail ripetizioni-listing">
						<a href="#/ripetizione/{{ripetizione.ID_RIPETIZIONE}}" class="thumb"><img src="images/logo.png" /></a>
						<p>DOCENTE: <a href="">{{ripetizione.cogn_prof}} {{ripetizione.nome_prof}}</a></p>
						<p>QUANDO: {{ripetizione.DATA}}</p>
						<p>DALLE: {{ripetizione.ora_inizio}} ALLE: {{ripetizione.ora_fine}}</p>
					</li>
				</ul>
			</div>
		</div>


		<div ng-if="ripetizioni.length == 0" class="text-center">
			<p>Cerca subito la ripetizione per te!</p>
		</div>
	</div>
</section>

<section id="lemieripetizioni" ng-show="showLeMieRipetizioni" style="height:100vh;"><!--devo settare mannualmente l'altezza di questo div in quanto lo script non lo vede-->
	<button type="button" class="close" ng-click="$parent.showLeMieRipetizioni=false;"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span><span class="sr-only">Close</span></button>
	<h2>Le mie ripetizioni</h2>
	<div id="ripetizioniPrenotate_list" class="col-md-8 col-md-offset-2" style="margin-top:60px;">
		<div ng-if="ripetizioniPrenotate.length !=0">						
			<ul class="ripetizioni">
				<li ng-repeat="ripetizione in ripetizioniPrenotate" class="thumbnail ripetizioni-listing">
					<a href="" class="thumb"><img src="images/logo.png"></a>
					<p>DOCENTE: <a href="#/ripetizione/{{ripetizione.ID_RIPETIZIONE}}">{{ripetizione.COGN_PROF}} {{ripetizione.NOME_PROF}}</a></p>
					<p>QUANDO: {{ripetizione.DATA}}</p>
					<p>DALLE: {{ripetizione.ORA_INIZIO}} ALLE: {{ripetizione.ORA_FINE}}</p>
				</li>
			</ul>
		</div>

		<div ng-if="ripetizioniPrenotate.length == 0" class="text-center">
			<p>Al momento non hai ripetizioni prenotate, cosa aspetti? Inizia subito!</p>
		</div>
	</div>
</section>