<section id="intro" style="background-color:blue">
    <div class="jumbotron" style="height:100vh;margin-bottom:0px;">
        <h1>Le Mie Ripetizioni</h1>
        <p class="lead">
            <img src="images/logo.png" alt="logo"><br>
            <p class="intro-text">Trovare una ripetizione non è mai stato così facile.<br/>
            Cerca subito la ripetizione per te!</p>
        </p>
    <p><a class="btn btn-lg btn-success" href="#cerca_ripetizione">Cerca subito! <span class="glyphicon glyphicon-ok"></span></a></p>

    </div>
</section>

<section id="ricerca_ripetizione" style="background-color:green; padding-top:30px;">
    <form class="form-horizontal" role="form" novalidate>
        {{msg}}
        <div class="form-group">
            <label for="ordine_Scuola" class="col-sm-2 col-sm-offset-3 control-label">Ordine scuola: </label>
            <div class="col-sm-3">
                <input type="text" ng-model="ordine_scuola" class="form-control" id="ordine_scuola" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="citta" class="col-sm-2 col-sm-offset-3 control-label">Città: </label>
            <div class="col-sm-3">
                <input type="text" ng-model="citta" class="form-control" id="citta" placeholder="">
            </div>
        </div>

        <div class="row" style="margin-top:50px;">
            <div class="form-group">
                <div class="col-xs-1 col-md-1 col-xs-offset-3 col-md-offset-5">
                    <button class="btn btn-lg btn-primary" ng-click="reset();">Pulisci</button>
                </div>
                <div class="col-md-6 col-xs-5">
                    <button class="btn btn-lg btn-primary" autofocus ng-click='SignUp();' style='margin-left: 63px;'>Ricerca</button>
                </div>
            </div>
        </div>
    </form>

    <div id="ripetizioni_list" class="col-md-8 col-md-offset-2" style="margin-top:60px;">
        <div ng-if="ripetizioni.length !=0">						
			<ul class="ripetizioni">
				<li ng-repeat="ripetizione in ripetizioni" class="thumbnail ripetizioni-listing">
					<a href="#/ripetizione/{{ripetizione.ID_RIPETIZIONE}}" class="thumb"><img ng-src="images/logo.png"></a>
					<a href="#/ripetizione/{{ripetizione.ID_RIPETIZIONE}}">{{ripetizione.COGN_PROF}}</a>
				<p>{{ripetizione.ID_RIPETIZIONE}} {{ripetizione.DATA}} {{ripetizione.COGN_PROF}} {{ripetizione.NOME_PROF}} {{ripetizione.ORA_INIZIO}} {{ripetizione.ORA_FINE}}</p>
				</li>
			</ul>
        </div>

        <div ng-if="ripetizioni.length == 0">
            <h2>Cerca subito la ripetizione per te!</h2>
        </div>
    </div>
</section>
